<h2>Add a celebrity</h2>
<form action="/celebrities/create" method="post">
    <label for="name">Introduce celebritie's name:</label>
    <input type="text" name="name" placeholder="Heath Ledger">
    <label for="occupation">What is their occupation?</label>
    <input type="text" name="occupation" placeholder="Singer">
    <label for="catchPhrase">Do they have any catch phrase?</label>
    <input type="text" name="catchPhrase" placeholder="Why so serious?">
    <button type="submit">Submit</button>
</form>